In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [4]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
# df.columns
cat_cols= [c for c in df.columns if df[c].dtype  == 'object']
cat_cols

['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

In [6]:
num_cols= [c for c in df.columns if df[c].dtype in(int,float)]
num_cols
# df[num_cols]

['Age',
 'RestingBP',
 'Cholesterol',
 'FastingBS',
 'MaxHR',
 'Oldpeak',
 'HeartDisease']

In [7]:
arr=[]
for c in df[cat_cols]:
    val= df[c].unique()
    arr.append({c: val})
arr

[{'Sex': array(['M', 'F'], dtype=object)},
 {'ChestPainType': array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)},
 {'RestingECG': array(['Normal', 'ST', 'LVH'], dtype=object)},
 {'ExerciseAngina': array(['N', 'Y'], dtype=object)},
 {'ST_Slope': array(['Up', 'Flat', 'Down'], dtype=object)}]

In [8]:
# y= df['HeartDisease']
# X= df.drop('HeartDisease',axis=1)

In [9]:
left_arr= df[num_cols].mean()-3* df[num_cols].std()
left_arr

Age              25.213044
RestingBP        76.854052
Cholesterol    -129.352869
FastingBS        -1.036021
MaxHR            60.428366
Oldpeak          -2.312347
HeartDisease     -0.938864
dtype: float64

In [10]:
left_arr.loc['Age']
# left_arr_ch

25.213043725991334

In [11]:
right_arr = df[num_cols].mean()+3*df[num_cols].std()

right_arr_ch= right_arr.to_frame()
right_arr_ch
#right_arr.loc['Age']

                       0
Age            81.808743
RestingBP     187.938977
Cholesterol   526.951998
FastingBS       1.502252
MaxHR         213.190371
Oldpeak         4.087074
HeartDisease    2.045618

In [12]:
# stacked= ch.unstack()
# stacked
right_arr_ch.loc['Age',0]

81.8087427663834

In [13]:
# # def understand(row):
# 
# #         x= row.loc[num_cols]
# #         print(x)
# df_understand= df.apply(lambda x:x.loc[num_cols], axis='columns')
# df_understand

In [14]:
def compare(row):
    for c in num_cols:
        if row.loc[c] >= right_arr_ch.loc[c, 0]:
            
            return False
    return True

In [15]:
# def compare(row):
#     for idx, value in row[num_cols].items():
#         if value < ch.loc[idx, 0]:
#             return row
#     return None

In [16]:
df_r =df.apply(compare,axis='columns')
df_r=df[df_r]
df_r

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [17]:
def assertion(row):
    for c in num_cols:
        if row.loc[c]>= right_arr_ch.loc[c,0]:
            return False
    return True

df_assertion = df_r.apply(assertion,axis='columns')
df_assertion.unique()

array([ True])

In [18]:
def compare_l(row):
    for c in num_cols:
        if row.loc[c]<= left_arr.loc[c]:
            return False
    return True

In [19]:
df_l= df_r.apply(compare_l,axis='columns')
df_l = df_r[df_l]
df_l

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

### 3. Converting categorical columns to numerical & 4 (Pipeline)

In [20]:
#first we need to split to be sure that even in converting steps the test data stays unrevealed.
y= df_l["HeartDisease"]
X= df_l.drop('HeartDisease',axis=1)
X

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up
...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up

In [21]:
X

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up
...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up

In [22]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
# didnt use 'num_cols' because it contains the "HeartDisease"
numerical_cols = [c for c in X.columns if X[c].dtype in(int,float)]
numerical_cols
cat_pipeline= Pipeline([('encoder',OneHotEncoder())])
num_pipeline= Pipeline([('scaler',StandardScaler())])

preprocessor = ColumnTransformer([
    ('cat',cat_pipeline,cat_cols),
    ('num',num_pipeline,numerical_cols)
    ])
final_pipeline= Pipeline([('preprocessor',preprocessor)])
X_preprocessed= final_pipeline.fit_transform(X)
X_preprocessed

array([[ 0.        ,  1.        ,  0.        , ..., -0.5503622 ,
         1.38431998, -0.85546862],
       [ 1.        ,  0.        ,  0.        , ..., -0.5503622 ,
         0.7529728 ,  0.13751561],
       [ 0.        ,  1.        ,  0.        , ..., -0.5503622 ,
        -1.53566071, -0.85546862],
       ...,
       [ 0.        ,  1.        ,  1.        , ..., -0.5503622 ,
        -0.86485434,  0.33611246],
       [ 1.        ,  0.        ,  0.        , ..., -0.5503622 ,
         1.46323838, -0.85546862],
       [ 0.        ,  1.        ,  0.        , ..., -0.5503622 ,
         1.42377918, -0.85546862]])

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test = train_test_split(X_preprocessed,y,test_size=0.2)

5. GridSearchCV

In [24]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn. linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [25]:
model_params={
     'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'RandomForestClassifier':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,20]
        }
    },
    'LogesticRegression':{
        'model':LogisticRegression(multi_class='auto',solver='liblinear'),
        
        'params': {
            
            'C': [1, 20, 100]
        }
            
        }
    }

In [26]:
scores=[]
for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['model'],mp['params'],cv=10,return_train_score=False)
    clf.fit(X_train,y_train)
    model_best={
    'model':mp['model'],
    'score':clf.best_params_,
    'params': clf.best_score_
           }
    scores.append(model_best)
scores

[{'model': SVC(gamma='auto'),
  'score': {'C': 1, 'kernel': 'rbf'},
  'params': 0.8748630672926447},
 {'model': RandomForestClassifier(),
  'score': {'n_estimators': 5},
  'params': 0.8582355242566511},
 {'model': LogisticRegression(solver='liblinear'),
  'score': {'C': 1},
  'params': 0.8706768388106415}]

In [29]:
clf.best_estimator_.score(X_test,y_test)
# svm_model = svm.SVC(kernel='rbf',C=1,gamma='auto')
# svm_model.score(X_test,y_test)

0.8388888888888889

In [32]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X_preprocessed)
X_pca
X_train_pca,X_test_pca,y_train_pca, y_test_pca = train_test_split(X_pca,y,test_size=0.2)

In [33]:
svm_model = svm.SVC(kernel='rbf',C=1,gamma='auto')
svm_model.fit(X_train_pca,y_train_pca)
svm_model.score(X_test_pca,y_test_pca)

0.8222222222222222