In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
import math
from word2number import w2n

In [3]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
df.isna().any()

experience                     True
test_score(out of 10)          True
interview_score(out of 10)    False
salary($)                     False
dtype: bool

In [5]:
df['experience'].isna()

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: experience, dtype: bool

In [6]:
# def convert_word_to_number(str_num):
#     return w2n.word_to_num(str_num)

In [7]:
df['experience'] = df['experience'].fillna('zero')
df['experience']= df['experience'].apply( w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [8]:
med= df['experience'][2:].median()
med

6.0

In [9]:
df['experience'][0:2]= 6
df

/tmp/ipykernel_6537/1933448499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'][0:2]= 6

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           6                    8.0                           9      50000
1           6                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [10]:
test_score_med=df['test_score(out of 10)'].median()
print(test_score_med)
df['test_score(out of 10)'].fillna(test_score_med,inplace=True)
df

8.0

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           6                    8.0                           9      50000
1           6                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [20]:
X= df.drop('salary($)',axis=1)
y= df.loc[:,'salary($)']
print(y)
reg_model = LinearRegression()
reg_model.fit(X,y)
pred1= reg_model.predict(np.array([2,9,6]).reshape(1,-1))
pred2= reg_model.predict(np.array([12,10,10]).reshape(1,-1))

print(f'pred1={pred1}')
print(f'pred2={pred2}')

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64
pred1=[47056.91056911]
pred2=[88227.64227642]

/home/zahra/Projects/Training/Ml/venv/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/home/zahra/Projects/Training/Ml/venv/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [21]:
print(reg_model.coef_)

[2813.00813008 1333.33333333 2926.82926829]

In [22]:
print(reg_model.intercept_)

11869.91869918695